
.sign-background {
  background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.75) 100%), url('../../assets/wallpaperflare.com_wallpaper.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.text,
.box {
  margin-top: 20vh;
}

::placeholder {

  color: #ffffffa8;
}




.login {
  margin-left: 10%;
  font-weight: 300;

}

.box {
  margin-left: 25%;
}

.text h1 {
  font-size: 70px;
  color: #ffffff;
  font-weight: 500;
}

.text p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
}

a {
  color: white;
}

.text p a {
  color: #ffffff;
  font-weight: 700;


}

.form {
  background: transparent;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 250px;


}
.form h1{
  font-size : 0.8rem;
}

.form-container {
  border: solid 1px #fff;
  padding: 80px;
  height: 70vh;
  border-radius: 5px;
}

input {
  margin: 20px 0;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  width : 100%;
}

.username,
.password,
.email {
  border-bottom: 1px solid #fff;
}

.button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  transition: 0.8s;
  cursor: pointer;
  transition: 0.8s;
}

.form-container h1 {
  text-align: center;
  color: white;
}

.button:hover {

  color: black;
  background-color: pink;
}

.form-signup {
  padding: 60px;
}

.copy {
  color: white;
  opacity: 0.2;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 20px;
  width: 100%;
}


.form{
  width : 100%;
}