<main>


  <div class="sign-background">
    <div class="text">

      <h1><i class='ion-md-log-in'></i>Login</h1>
      <p>No Account?<a [routerLink]="['/sign-up']" >SignUp</a></p>
    </div>

    <div class="box">
      <div class="form-container">
        <h1>Welcome Back</h1>
        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="form">

          <input type="email" class="email" formControlName="email" id="email" placeholder="Email" required>
          <input type="password" class="password" formControlName="password" id="password" placeholder="Password" required>
          <input type="submit" value = 'Login' class="button">
          <h1>Forgot Password?</h1>

        </form>
      </div>

      <h1 class = "copy">&#169; Adventours 2020</h1>
    </div>


  </div>
  <h1 class = "copy">&#169; Adventours 2020</h1>
</main>
