
<main>


  <div class="sign-background">
    <div class="text">

      <h1><i class='ion-md-log-in'></i>Signup</h1>
      <a [routerLink]="['/login']">Login Instead</a>
    </div>

    <div class="box">
      <div class="form-container form-signup">

        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)" class="form">

          <input type="text" formControlName="name" id="username" class="username" placeholder="Username" required>
          <input type="email" formControlName="email" id="email" class ="email" placeholder="Email" required>
          <input type="password" formControlName="password" id="password" class="password" placeholder="Password" required>
          <input type="password" class="password" formControlName="passwordConfirm" id="passwordConfirm" placeholder="Confirm password" required>
          <input type="submit" value = 'SignUp' class="button">

        </form>
      </div>

      <h1 class = "copy">&#169; Adventours 2020</h1>
    </div>


  </div>
  <h1 class = "copy">&#169; Adventours 2020</h1>
</main>
