

<header>

  <div class="container">
    <nav class= "navcontainer">
      <div class="nav-brand">
        <a href="index.html">
          <img src="../../assets/adventure-hiking-hiker-trekking-hike-journey-backpacker-512.png" alt="Adventours logo">
        </a>
      </div>


      <ul class="nav-list">
        <li class="nav-items">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-items">
          <a [routerLink]="['/explore']" class="nav-link">Explore</a>
        </li>
        <li class="nav-items">
          <a href="#" class="nav-link">API Documentation</a>
        </li>
        <li class="nav-items">
          <a [routerLink]="['/sign-up']" class="nav-link" *ngIf="!userdetails">Signup</a>
        </li>
        <li class="nav-items">
          <a href="#" class="nav-link">About</a>
        </li>
      </ul>
    </nav>
  </div>


</header>
<main>

  <section class="hero">
    <div class="container">
      <div class="main-message">

        <h3>Adventour</h3>
        <h1>A single place for tours and guides..</h1>
      </div>
      <p>

        Picture yourself hiking into the Grand Canyon's cliff-rimmed depths. Or the towering, craggy peaks and geothermal wonders of Yellowstone, the Wind River Range, and the Tetons. Trek into the brilliant canyon country landscapes of Utah where arches, spires, hoodoos, spring-fed creeks, and canyons mark our way.

        
      </p>
      <div class="cta">
        <a href="" class="btn">Book Now</a>
      </div>
    </div>

  </section>

  <section class="experience-tours">
    <div class="container">

      <div class="title-heading-modified">
        <h3>Experience</h3>
        <h1>The Adventure</h1>


      </div>


      <div class="activities-grid">


        <div class="activities-grid-item star">

          <div class="flex-sub">
            <i class="icon ion-md-star"></i>
            <h1>Top Rated Tours</h1>
            <p>hidjfodjfijdsifjiodjfiosdvdvdvdvdvdvdvdv</p>
          </div>

        </div>

        <div class="activities-grid-item compass">
          <div class="flex-sub">
            <i class="icon ion-md-compass"></i>
            <h1>Personal Guides</h1>
            <p>hidjfodjfijdsifjiodjfiosdvdvdvdvdvdvdvdv</p>
          </div>

        </div>
        <div class="activities-grid-item bon-fire">

          <div class="flex-sub">
            <i class="icon ion-md-bonfire"></i>
            <h1>24*7 Assistance</h1>
            <p>hidjfodjfijdsifjiodjfiosdjoijdfdfdfdfdfdfdfddf</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="teams">
    <div class="container">
      <div class="team-spirit">

        <h1><i class="icon ion-md-ribbon icon"></i>Team Members</h1>


      </div>
      <div class="team-member-container">
        <div class="team-member tushar">
          <img src="../../assets/tushar.jpg" alt="">

          <h1>Tushar Gaonkar</h1>
          <i class="icon ion-md-attach"></i>
          <a href="#">Github</a>



        </div>
        <div class="team-member arjun">
          <img src="../../assets/arjun.jpg" alt="">


          <h1>Arjun Adappa</h1>
          <i class="icon ion-md-attach icon"></i>

          <a href="#">Github</a>




        </div>
        <div class="team-member amogh">

          <img src="../../assets/amogha.jpeg" alt="">

          <h1>Amogha Hegde </h1>
          <i class="icon ion-md-attach icon"></i>



          <a href="#">Github</a>
        </div>
      </div>
    </div>
  </section>
  <section class="aboutadventours">
    <div class="container">
      <div class="title-heading">
        <h3>About Adventour</h3>
        <h1>A Full Stack WebApp created by our own Rest API</h1>

        <div class="details">

          <div class="detail-items item1">

            <h1><i class="icon ion-md-build icon"></i>Natour API </h1>

            <p>Natour API is built using Node.js ,Express.js ,MongoDB</p>
            <div class="cta">
              <a href="" class="btn">API Documentation</a>
            </div>

          </div>

          <div class="detail-items item2">




            <h1><i class="icon ion-md-flash icon"></i>Features</h1>

            <ul>

              <li><i class="icon ion-md-done-all icon"></i>Secure</li>
              <li><i class="icon ion-md-done-all icon"></i>Easy-to-Use</li>
              <li><i class="icon ion-md-done-all icon"></i>gegegeg</li>
              <li><i class="icon ion-md-done-all icon"></i>Secured</li>
            </ul>
          </div>







        </div>





      </div>




    </div>





  </section>






















</main>
<div class="footer">
  Copyrighted Adventour 2020
</div>
