
<main class="main">
  <div class="user-view">
    <nav class="user-view__menu">
      <ul class="side-nav">
        <li class="side-nav--active"><a href="#">
          <svg>
            <use xlink:href="assets/icons.svg#icon-settings"></use>
          </svg>Settings</a></li>
        <li (click)="onBookingsClick()"><a href="#">
          <svg>
            <use xlink:href="assets/icons.svg#icon-briefcase"></use>
          </svg>My bookings</a></li>
        
      </ul>
    </nav>
    <div class="user-view__content" *ngif='settingInfo'>
      <div class="user-view__form-container">
        <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
        <form class="form form-user-data" [formGroup]="userDetailsForm" (ngSubmit)="onSubmit(userDetailsForm.value)" >
          <div class="form__group">
            <label class="form__label" for="name">Name</label>
            <input class="form__input" formControlName="name"  id="name" type="text" placeholder={{userdetails?.data.data.name}}  required="required"/>
          </div>
          <div class="form__group ma-bt-md">
            <label class="form__label" for="email">Email address</label>
            <input class="form__input" formControlName="email" id="email" type="email" placeholder={{userdetails?.data.data.email}} required="required"/>
          </div>
          <div class="form__group form__photo-upload"><img class="form__user-photo" src="assets/users/{{userdetails?.data.data.photo}}" alt="User photo"/><a class="btn-text" href="">Choose new photo</a></div>

          <button class="btn btn--small btn--green">Save settings</button>

        </form>
      </div>
      <div class="line">&nbsp;</div>
      <div class="user-view__form-container">
        <h2 class="heading-secondary ma-bt-md">Password change</h2>
        <form class="form form-user-settings" [formGroup]="passwordChangeForm" (ngSubmit)="passwordChangeSubmit(passwordChangeForm.value)">
          <div class="form__group">
            <label class="form__label" for="passwordCurrent">Current password</label>
            <input class="form__input" formControlName="passwordCurrent" id="passwordCurrent" type="password" placeholder="••••••••" required="required" />
          </div>
          <div class="form__group">
            <label class="form__label" for="password">New password</label>
            <input class="form__input" formControlName="password" id="password" type="password" placeholder="••••••••" required="required"/>
          </div>
          <div class="form__group ma-bt-lg">
            <label class="form__label" for="passwordConfirm">Confirm password</label>
            <input class="form__input" formControlName="passwordConfirm" id="passwordConfirm" type="password" placeholder="••••••••" required="required" />
          </div>
          <div class="form__group right">
            <button class="btn btn--small btn--green">Save password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
