<div class="container">
  <nav class="navcontainer">
    <div class="nav-brand">
      <a href="index.html">
        <img src="assets/adventure-hiking-hiker-trekking-hike-journey-backpacker-512.png" alt="Adventours logo">
      </a>
    </div>


    <ul class="nav-list">
      <li class="nav-items">
        <a (click)="logout()" class="nav-link">Logout</a>
      </li>

      <li class="nav-items">
        <a href="#" class="nav-link">{{userdetails?.data.data.name}}</a>
      </li>
      <li class="nav-items">
        <div class="image-container">
          <img class="imageprofile" src="assets/users/{{userdetails?.data.data.photo}}">
        </div>
      </li>
    </ul>


  </nav>
  <div class="tour-title" data-aos = "zoom-out">

    <h1 class="tour-title-main">{{tour?.data.data.name}}</h1>

    <div class="sub-detail">
      <ion-icon name="timer-outline"></ion-icon><span>{{tour?.data.data.duration}} Days</span>
      <ion-icon name="location-outline"></ion-icon><span>{{tour?.data.data.startLocation.description}}</span>
    </div>
  </div>
</div>

<div class="container">
  <section class="facts">
    <div class="quickfacts" data-aos = "slide-right">
      <h1 class="lineartext">Quick Facts</h1>
      <div class="quick-facts-item" data-aos = "slide-right"data-aos-delay="70">
        <ion-icon name="calendar-outline"></ion-icon>
        <h1 class="fact-title"> Next Date</h1>
        <h1 class="fact-title-sub">June 2021</h1>
      </div>
      <div class="quick-facts-item" data-aos = "slide-right" data-aos-delay="300">
        <ion-icon name="analytics-outline"></ion-icon>
        <h1 class="fact-title"> Difficulty</h1>
        <h1 class="fact-title-sub">{{tour?.data.data.difficulty}}</h1>
      </div>


      <div class="quick-facts-item" data-aos = "slide-right" data-aos-delay="500">
        <ion-icon name="people-outline"></ion-icon>
        <h1 class="fact-title">Participants</h1>
        <h1 class="fact-title-sub">{{tour?.data.data.maxGroupSize}}</h1>
      </div>


      <div class="quick-facts-item" data-aos = "slide-right" data-aos-delay="600">
        <ion-icon name="star-outline"></ion-icon>
        <h1 class="fact-title"> Rating</h1>
        <h1 class="fact-title-sub">{{tour?.data.data.ratingsAverage}}</h1>

      </div>
    </div>
    <div class="about" data-aos = "slide-left">
      <h1 class="lineartext">About <span class="tour-about-title">{{tour?.data.data.name}}</span></h1>
      <p class="about-para">{{tour?.data.data.description}}</p>
      <div class="tour-guides" data-aos = "fade-up-right" data-aos-delay="1100">
        <h1 class="lineartext yourguide">Your Tour Guides</h1>
        <div class="tour-guide">

          <h1>Lead Guide</h1>
          <div class="guide">
            <img class="guide-image" src="https://1240972027.rsc.cdn77.org/data/_galerie_media/n_dscf9211.jpg">
            <span id="guide-name">Arjun Adappa</span>
          </div>
        </div>
        <div class="tour-guide">

          <h1>Tour Guide</h1>
          <div class="guide">
            <img class="guide-image" src="https://1240972027.rsc.cdn77.org/data/_galerie_media/n_dscf9211.jpg">
            <span id="guide-name">Amogha Hegde</span>
          </div>
        </div>





      </div>

    </div>
  </section>
  <section class="tour-image-container" data-aos = "slide-right">

    <h1 class="snaps"></h1>

    <div class="tour-images">
      <img id="image-1" src="assets/tours/{{tour?.data.data.images[0]}}">

      <img id="image-2" src="assets/tours/{{tour?.data.data.images[1]}}">

      <img id="image-3" src="assets/tours/{{tour?.data.data.images[2]}}">


    </div>



  </section>
  <div id='map' data-aos = "zoom-in-up"></div>
</div>
